#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/2b4496e7-4f97-4762-b045-26cb47f5dcd9 # 
title: American Flights API
version: 1.0
/flights:
  get:
    queryParameters: 
      code:
        enum: [SFO, LAX,CLE, PFX]
    responses: 
      200:
        body: 
          application/json:
            example:
             { "ID": 1,"code": "ER38sd",                         "price": 400,"departureDate": "2016-03-20T00:00:00","origin": "MUA",
        "destination": "SFO",
        "emptySeats": 0,
        "plane": {
            "type": "Boeing 737",
            "totalSeats": 150
        }}



  post:
    body: 
      application/json:
        example:
                {"ID": 1,
        "code": "ER38sd","price": 400,
        "departureDate": "2016-03-20T00:00:00",
        "origin": "MUA","destination": "SFO",
        "emptySeats": 0,
        "plane": {
            "type": "Boeing 737",
            "totalSeats": 150
        }}
        
    responses: 
      201:
        body: 
          application/json:
            example:
              {"message": "Flight added(but not really)"}

  

  /{ID}:
    get:
      responses: 
        200:
          body: 
            application/json:
              example:  
                    {
        "ID": 1,
        "code": "ER38sd",
        "price": 400,
        "departureDate": "2016-03-20T00:00:00",
        "origin": "MUA",
        "destination": "SFO",
        "emptySeats": 0,
        "plane": {
            "type": "Boeing 737",
            "totalSeats": 150
        }
    }
                  